PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE blogs (
    url TEXT
);
CREATE TABLE lifechips (
    url TEXT,
    title TEXT,
    content TEXT,
    date TEXT,
    type TEXT,
    description TEXT
);
CREATE TABLE recent (
    type TEXT,
    content TEXT,
    date TEXT DEFAULT CURRENT_TIMESTAMP,
    url TEXT
);
INSERT INTO recent VALUES('event','','2025-11-19 07:11:46','1763536306616-835040770.md');
CREATE TABLE visitors (
    account TEXT,
    password TEXT,
    nick TEXT
);
CREATE TABLE projects (
  id TEXT PRIMARY KEY,
  name TEXT,
  description TEXT,
  cover TEXT,
  introFile TEXT,
  attachments TEXT,
  githubLink TEXT,
  status TEXT,
  createTime TEXT,
  lastUpdateTime TEXT
);
COMMIT;
